In [1]:
# import the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
# load the dataset
df = pd.read_csv('data/MonoName.csv')
df.head()

                        index  Name
0          Bavaria Cruiser 46    76
1         Beneteau Oceanis 45    44
2                 Jeanneau 53    43
3  Jeanneau Sun Odyssey 54 DS    42
4          Bavaria 50 Cruiser    40

In [75]:
df['Model'] = df['index']

In [76]:
df

                          index  Name                       Model
0            Bavaria Cruiser 46    76          Bavaria Cruiser 46
1           Beneteau Oceanis 45    44         Beneteau Oceanis 45
2                   Jeanneau 53    43                 Jeanneau 53
3    Jeanneau Sun Odyssey 54 DS    42  Jeanneau Sun Odyssey 54 DS
4            Bavaria 50 Cruiser    40          Bavaria 50 Cruiser
..                          ...   ...                         ...
463                  Dufour 425     1                  Dufour 425
464         Grand Soleil 37 B&C     1         Grand Soleil 37 B&C
465         Grand Soleil 40 B&C     1         Grand Soleil 40 B&C
466    Grand Soleil 46 Jezequel     1    Grand Soleil 46 Jezequel
467               X-Yachts X4.6     1               X-Yachts X4.6

[468 rows x 3 columns]

In [77]:
df1 = pd.read_csv('data/additional_features_dataset.csv')

In [78]:
df2 = df

In [79]:
df2['Length'] = [None for _ in range(111)]
df2['Beam'] = [None for _ in range(111)]
df2['Draft'] = [None for _ in range(111)]
df2['Material'] = [None for _ in range(111)]
df2['Hull'] = [None for _ in range(111)]
df2['Rigging'] = [None for _ in range(111)]
df2['Cabins'] = [None for _ in range(111)]

ValueError: Length of values (111) does not match length of index (468)

In [80]:

df2.columns

Index(['index', 'Name', 'Model'], dtype='object')

In [81]:
df2

                          index  Name                       Model
0            Bavaria Cruiser 46    76          Bavaria Cruiser 46
1           Beneteau Oceanis 45    44         Beneteau Oceanis 45
2                   Jeanneau 53    43                 Jeanneau 53
3    Jeanneau Sun Odyssey 54 DS    42  Jeanneau Sun Odyssey 54 DS
4            Bavaria 50 Cruiser    40          Bavaria 50 Cruiser
..                          ...   ...                         ...
463                  Dufour 425     1                  Dufour 425
464         Grand Soleil 37 B&C     1         Grand Soleil 37 B&C
465         Grand Soleil 40 B&C     1         Grand Soleil 40 B&C
466    Grand Soleil 46 Jezequel     1    Grand Soleil 46 Jezequel
467               X-Yachts X4.6     1               X-Yachts X4.6

[468 rows x 3 columns]

In [82]:
types = df2['index'].unique()
types

array(['Bavaria Cruiser 46', 'Beneteau Oceanis 45', 'Jeanneau 53',
       'Jeanneau Sun Odyssey 54 DS', 'Bavaria 50 Cruiser',
       'Beneteau Oceanis 50', 'Beneteau Oceanis 40',
       'Beneteau Oceanis 43', 'Bavaria 51 Cruiser', 'Bavaria 56 Cruiser',
       'Jeanneau Sun Odyssey 50 DS', 'Bavaria 40 Cruiser',
       'Jeanneau Sun Odyssey 45', 'Jeanneau Sun Odyssey 439',
       'Jeanneau Sun Odyssey 409', 'Beneteau Cyclades 39.3',
       'Jeanneau Sun Odyssey 469', 'Hanse 455', 'Beneteau Oceanis 41',
       'Beneteau Oceanis 48', 'Beneteau Oceanis 46',
       'Jeanneau Sun Odyssey 42i', 'Bavaria 41 Cruiser',
       'Bavaria 39 Cruiser', 'Hunter 38', 'Jeanneau Sun Odyssey 509',
       'Beneteau Oceanis 54', 'Beneteau Cyclades 50.5',
       'Jeanneau Sun Odyssey 39i', 'Bavaria 45 Cruiser', 'Hanse 445',
       'Dufour 460 GL', 'Jeanneau Sun Odyssey 45 DS',
       'Jeanneau Sun Odyssey 49i', 'Hanse 400', 'Elan Impression 434',
       'Beneteau Oceanis 55', 'Jeanneau Sun Odyssey 49 DS',
       'Jeanneau Sun Odyssey 44i', 'Grand Soleil 50', 'Hanse 415',
       'Hanse 505', 'Jeanneau Sun Odyssey 42 DS', 'Beneteau Oceanis 38',
       'Jeanneau Sun Odyssey 419', 'Hunter 41 DS',
       'Jeanneau Sun Odyssey 49', 'Jeanneau Sun Odyssey 519',
       'Beneteau Sense 50', 'Jeanneau Sun Odyssey 389',
       'Jeanneau Sun Odyssey 40.3', 'Beneteau Oceanis 423',
       'Dufour 455 GL', 'Bavaria 42 Cruiser', 'Hanse 540e',
       'Beneteau First 40', 'Bavaria 38 Cruiser', 'Beneteau First 50',
       'Beneteau Cyclades 43.4', 'Bavaria 40S Cruiser', 'J Boats J 122',
       'Beneteau First 44.7', 'Jeanneau Sun Odyssey 449', 'Hanse 461',
       'Grand Soleil 45', 'Hanse 470e', 'Elan 450', 'Elan 45 Impression',
       'Beneteau Oceanis 473', 'Hanse 430e', 'Jeanneau Sun Odyssey 479',
       'Beneteau First 45', 'Catalina 445', 'Jeanneau Sun Odyssey 440',
       'Wauquiez Centurion 40s', 'Dufour 460', 'Comar Comet 41S',
       'Dufour 525 GL', 'Dufour 410 GL', 'Hanse 495',
       'Jeanneau Sun Odyssey 39 DS', 'Bavaria Vision 46',
       'Jeanneau Sun Odyssey 44 DS', 'Beneteau Oceanis Clipper 423',
       'Dufour 412', 'Beneteau 43', 'Beneteau Oceanis Clipper 523',
       'Grand Soleil 43', 'Beneteau Oceanis 49', 'Elan Impression 45',
       'Hunter 49', 'Dufour 412 GL', 'Catalina Morgan 440',
       'Dufour 405 GL', 'Elan 444 Impression', 'Dufour 445 GL',
       'Elan 50 Impression', 'Hanse 470', 'Hunter 45 Center Cockpit',
       'Elan 40 Impression', 'Archambault 40 RC', 'X-Yachts X-40',
       'Beneteau Cyclades 43.3', 'Beneteau Oceanis 51.1',
       'Beneteau Oceanis 523', 'Hanse 411', 'Hanse 531', 'Tartan 4300',
       'Catalina 42 MK II', 'Island Packet 440', 'X-Yachts XP50',
       'Beneteau Oceanis 38.1', 'X-Yachts Xp 44', 'Grand Soleil 54',
       'Beneteau Oceanis 41.1', 'Dufour 500 GL', 'Dufour 485 GL',
       'Salona 45', 'Elan Impression 384', 'Dehler 41',
       'Hallberg-Rassy 54', 'C&C 115', 'Delphia 40', 'Dufour 385 GL',
       'Dehler 46', 'Dufour 455', 'Grand Soleil 39', 'Dufour 520',
       'Dufour 425 GL', 'Sly 53', 'Maxi 1300', 'Elan Impression 50',
       'Catalina 470', 'Grand Soleil 56', 'Sabre 426',
       'Jeanneau Sun Odyssey 490', 'Comar Comet 52 RS', 'Dufour 450 GL',
       'Comar Comet 45s', 'Dufour 430 GL', 'Beneteau Oceanis 46.1',
       'Elan Impression 40', 'Hanse 548', 'Beneteau Oceanis 50 Family',
       'Beneteau Oceanis 50.5', 'Jeanneau Sun Odyssey 53', 'Catalina 387',
       'X-Yachts X-50', 'Dufour 45e Performance', 'Beneteau 423',
       'Jeanneau 51', 'Beneteau Oceanis Clipper 473',
       'Beneteau First 40.7', 'Dufour 40 Performance', 'Grand Soleil 40',
       'Bavaria 42 Match', 'Bavaria 47 Cruiser', 'Oyster 54',
       'Hallberg-Rassy 40', 'Island Packet 465', 'X-Yachts Xp 38',
       'Island Packet SP Cruiser', 'Dehler 42', 'Hanse 575',
       'Catalina 385', 'X-Yachts Xc 50', 'Tofinou 12',
       'Poncin harmony 52', 'Hunter 50 Center Cockpit', 'Grand Soleil 46',
       'Dufour 40e Performance', 'Triplast Y 40', 'Moody 45 DS',
       'Grand Soleil 46 LC', 'Dufour 382 GL', 'Hylas 46',
       'Alubat Ovni 395', 'Hanse 540', 'Bavaria 44 Vision',
       'Wauquiez Pilot Saloon 47', 'Wauquiez Pilot Saloon 41',
       'Wauquiez Pilot Saloon 48', 'Island Packet 485', 'Hanse 400e',
       'Bavaria Cruiser 50', 'Amel 54', 'Bavaria C45 Holiday',
       'Tartan 4400', 'Beneteau Oceanis 55.1', 'Dufour 520 GL',
       'Hanse 418', 'Jeanneau Sun Odyssey 43 DS', 'Hunter 44',
       'Hunter 44 DS', 'Dufour 385', 'Cabo Rico 42', 'Allures 44',
       'Dufour 410', 'Dehler 47', 'Dufour 512 GL', 'Dufour 485',
       'Elan 410', 'Hanse 430', 'Nauticat 441', 'Beneteau Sense 43',
       'Moody 45 Classic', 'Hallberg-Rassy 412', 'Hunter 41 Deck Salon',
       'Hunter 50', 'Hanse 508', 'Beneteau Sense 55', 'Contest 42CS',
       'Hallberg-Rassy 43', 'Elan 434 Impression', 'Bestevaer 49ST',
       'Beneteau America 50', 'Beneteau Oceanis 43 Family', 'Solaris 48',
       'Vismara V50', 'Beneteau First 40 CR', 'Jeanneau Sun Odyssey 41DS',
       'Contest 45CS', 'RM Yachts rm 12.60', 'Poncin HARMONY 47',
       'ShearWater 39', 'Salona 38', 'Jeanneau Sun Odyssey 42',
       'Southerly 38', 'Salona 44', 'X-Yachts Xc 42', 'Dehler 47 SQ',
       'Hunter 39', 'Hunter 40', 'Island Packet 420', 'Dufour 390',
       'Beneteau Oceanis 46 Family', 'Beneteau 523',
       'Elan 494 Impression', 'Discovery 55', 'Elan Impression 494',
       'Jeanneau Sun Odyssey 49 Owners Version', 'Solaris 44',
       'Jeanneau Sun Odyssey 42i Performance', 'Southerly 420',
       'Hunter 45 DS', 'Catalina 42 Mk II', 'Rustler 42', 'Beneteau 56',
       'Sly 42', 'Caliber 47 LRC SE', 'Comar Comet 45S', 'X-Yachts X-46',
       'X-Yachts 41', 'Vismara V52', 'Bavaria 49 Cruiser', 'Oyster 475',
       'Jeanneau Sun Odyssey 49i Performance', 'Tofinou 16',
       'Passport Vista 545 Center Cockpit', 'Elan 514 IMPRESSION',
       'Hunter 45cc', 'Island Packet 445', 'Dehler 39 SQ', 'Zuanelli 40',
       'Dufour 44 Performance', 'Dufour 500', 'Dufour 44', 'Elan 50',
       'Dehler 41 CR', 'Malo 40', 'Passport 470 Center Cockpit',
       'Morris M42', 'RM Yachts RM 1270', 'Jeanneau Sun Odyssey 410',
       'X-Yachts X4', 'Hanse 388', 'Dufour 445',
       'Jeanneau Sun Odyssey 40.9', 'Dufour 520 GL Owner Version',
       'Nauticat 42', 'Grand Soleil 47', 'Elan GT5', 'Dufour 380',
       'Hunter M-H 40', 'Beneteau Moorings 42.3', 'Dufour 430',
       'Salona S380', 'RM Yachts RM 12.70', 'Wauquiez Pilot Saloon 42',
       'Southerly 48', 'X-Yachts X 4.3', 'Elan Impression 444',
       'Beneteau Moorings 43.5', 'Grand Soleil 43 Maletto - GS 43',
       'Salona 42', 'Vismara V50 Mills', 'Dufour 460 Performance',
       'Catalina 425', 'B-Yachts Brenta B42', 'Boreal 47',
       'Beneteau 41.1', 'Bavaria 51 Cruiser Style', 'Bavaria Cruiser 46S',
       'Azuree 46', 'Salona S41', 'Passport 545 Aft Cockpit',
       'Vismara V50 DS', 'Dufour 56 Exclusive', 'Nautor Swan 54',
       'Nautor Swan ClubSwan 50', 'Moody 54', 'Maxi 1200', 'Hanse 385',
       'Jeanneau Sun Odyessy 41DS', 'Jeanneau 469', 'Morris M42X',
       'Elan 40 E5', 'Dehler Varianta 44', 'Solaris 42', 'Oyster 545',
       'Van De Stadt Norman 41', 'Wauquiez Opium 39', 'Beneteau Sense 51',
       'Bavaria Cruiser 46 Style', 'Bavaria 42 Vision', 'Solaris 50',
       'Nautor Swan 50', 'Najad 505', 'Boreal 44', 'X-Yachts Xc 38',
       'Van De Stadt Stainless Steel Cutter', 'Hanse 588', 'Dehler 37',
       'Dehler 38 Competition', 'Dufour 450 Liberty version',
       'RM Yachts 1260', 'Hallberg-Rassy 44', 'Southerly 535',
       'Grand Soleil 43 Maletto', 'Sunbeam 42.1', 'Elan 394 Impression',
       'Alliage AZZURO 53', 'Delphia 46 cc', 'Sabre 386',
       'Catalina Morgan 440 DS Sloop', 'Harmony 38', 'Harmony 47',
       'Hunter 380', 'Hunter 41', 'Hunter 44 Deck Salon',
       'Jeanneau Sun Odyssey 48 DS',
       'Jeanneau Sun Odyssey 49 Owners version', 'Najad 440 CC',
       'Nordship DSC 38', 'Oyster 46', 'Passport 470',
       'Passport Vista 515 Center Cockpit', 'Tayana 48',
       'Beneteau Oceanis 523 A', 'X-Yachts X-43', 'X-Yachts 50',
       'Zuanelli 52 DH', 'Alubat CIGALE 16', 'Bavaria 46 Cruiser',
       'Beneteau Cyclades 43', 'Beneteau Oceanis 46 Owner Version',
       'Bestevaer 53ST', 'Caliber 47LRC', 'Contest 50CS', 'Contest 55CS',
       'Dehler 44', 'Dehler 44 SQ', 'Catalina 400 MK II',
       'Beneteau Oceanis 51', 'Beneteau OCEANIS 55',
       'Jeanneau SUN ODYSSEY 40.3', 'Beneteau First 47.7', 'C&C 121',
       'Caliber 40 LRC SE', 'Comar Comet 51S', 'Dufour 40',
       'Grand Soleil 45 RACING', 'Harmony 42 Elegance',
       'Hunter 41 Aft Cockpit', 'Hunter Passage 456', 'Hunter 466',
       'Hylas 49', 'Island Packet 370', 'Jeanneau Sun Odyssey 40',
       'Malo 43 Classic', 'Alliage 44', 'Malo 46', 'Moody 49',
       'Morris Ocean Series 48', 'Najad 380', 'Nauticat 385',
       'Nauticat 44', 'Salona 40', 'Sunbeam 39', 'Sunbeam 53',
       'Sweden Yachts 42', 'Van De Stadt Beluga 46',
       'Wauquiez Pilot Saloon 40', 'X-Yachts 40', 'Grand Soleil 43 BC',
       'J boats J 122', 'Jeanneau Sun Odyssey 39i Performance',
       'Dufour 405', 'RM Yachts RM 1200', 'Solaris 48 ONE',
       'Southerly 42 RST', 'Dufour 40e', 'Hunter OV', 'Hunter AC 50',
       'Moody 45 DS e', 'Solaris One 44', 'Vismara 54', 'Azuree 40',
       'Beneteau Oceanis 50 F G5', 'Catalina 375', 'Dehler 45',
       'Dufour 45 Performance', 'Jeanneau 42 DS',
       'Grand Soleil 56 EXTREME', 'Rustler 44', 'Sabre 456 MK II',
       'Sly 48C', 'Tartan 4000', 'Beneteau Sense 46',
       'Elan IMPRESSION 394', 'Hallberg-Rassy 48', 'Hanse 545',
       'Jeanneau 409', 'Jeanneau 509', 'Sly 47',
       'Beneteau Oceanis 41 Owners Version', 'Nordship 380DS',
       'Nauticat 441 Ketch', 'Malo 40 classic',
       'Grand Soleil 48 Ocean Cruiser',
       'Jeanneau Sun Odyssey 45 Performance', 'Jeanneau Sun Odyssey 49DS',
       'Malo 40 Classic MK Il', 'Nautor Swan 46', 'Oyster 53',
       'Southerly 135', 'Sweden Yachts 45', 'Tayana Pilothouse',
       'Tayana 52 DS', 'Vismara 52 Carbon', 'X-Yachts X-55',
       'Beneteau Oceanis 43.4', 'Beneteau First 50 Sport',
       'Comar Comet 450', 'Hanse 400 Epoxy', 'Jeanneau 39i',
       'Jeanneau 45 Sun Odyssey Performance', 'Jeanneau 49i',
       'Sweden Yachts 54', 'X-Yachts X-41 One Design',
       'X-Yachts X-50 Modern', 'Beneteau 40', 'B-Yachts 38', 'Dufour 425',
       'Grand Soleil 37 B&C', 'Grand Soleil 40 B&C',
       'Grand Soleil 46 Jezequel', 'X-Yachts X4.6'], dtype=object)

In [83]:
# compare the two datasets and add the missing values
for i in range(len(df2)):
    for j in range(len(df1)):
        if df2['Model'][i] == df1['Model'][j]:
            df2['Length'][j] = df1['Length'][i]
            df2['Beam'][j] = df1['Beam'][i]
            df2['Draft'][j] = df1['Draft'][i]
            df2['Material'][j] = df1['Material'][i]
            df2['Hull'][j] = df1['Hull'][i]
            df2['Rigging'][j] = df1['Rigging'][i]
            df2['Cabins'][j] = df1['Cabins'][i]
            break

KeyError: 'Length'

In [84]:
# Loop over the rows in df2
for i in range(len(df2)):
    # Check if the model in df2 is in df1
    if df2['Model'][i] in df1['Model'].values:
        # Get the matching row(s) in df1
        match = df1[df1['Model'] == df2['Model'][i]]
        # Update the columns of df2 with the values from df1
        df2.at[i, 'Length'] = match['Length'].values[0]
        df2.at[i, 'Beam'] = match['Beam'].values[0]
        df2.at[i, 'Draft'] = match['Draft'].values[0]
        df2.at[i, 'Material'] = match['Material'].values[0]
        df2.at[i, 'Hull'] = match['Hull'].values[0]
        df2.at[i, 'Rigging'] = match['Rigging'].values[0]
        df2.at[i, 'Cabins'] = match['Cabins'].values[0]

In [86]:
df2.to_csv('data/firstDraftMono.csv', index=False)

In [85]:
df2

,index,Name,Model,Length,Beam,Draft,Material,Hull,Rigging,Cabins
0,Bavaria Cruiser 46,76,Bavaria Cruiser 46,46',4.35',2.10',fiberglass,monohull,other,4.0
1,Beneteau Oceanis 45,44,Beneteau Oceanis 45,45',14.9',7.5',fiberglass,monohull,masthead sloop,3.0
2,Jeanneau 53,43,Jeanneau 53,53',15.6',"5'10""'",fiberglass,monohull,NaN,3.0
3,Jeanneau Sun Odyssey 54 DS,42,Jeanneau Sun Odyssey 54 DS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bavaria 50 Cruiser,40,Bavaria 50 Cruiser,21.08',15.2',6.2',fiberglass,monohull,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
463,Dufour 425,1,Dufour 425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,Grand Soleil 37 B&C,1,Grand Soleil 37 B&C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,Grand Soleil 40 B&C,1,Grand Soleil 40 B&C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,Grand Soleil 46 Jezequel,1,Grand Soleil 46 Jezequel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,X-Yachts X4.6,1,X-Yachts X4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df2.columns

Index(['index', 'Name', 'Model', 'Length', 'Beam', 'Draft', 'Material', 'Hull',
       'Rigging', 'Cabins'],
      dtype='object')

In [89]:
df1 = df1[['Model', 'Length', 'Beam', 'Draft', 'Material', 'Hull',
       'Rigging', 'Cabins']]

In [90]:
df1.to_csv('data/firstDraftDS.csv', index=False)

In [111]:
df4 = pd.read_csv('data/firstDraftMono.csv')
df4

,Name,Count,Model,Length,Beam,Draft,Material,Hull,Rigging,Cabins
0,Bavaria Cruiser 46,76,Bavaria Cruiser 46,46',4.35',2.10',fiberglass,monohull,other,4.0
1,Beneteau Oceanis 45,44,Beneteau Oceanis 45,45',14.9',7.5',fiberglass,monohull,masthead sloop,3.0
2,Jeanneau 53,43,Jeanneau 53,53',15.6',"5'10""'",fiberglass,monohull,NaN,3.0
3,Jeanneau Sun Odyssey 54 DS,42,Jeanneau Sun Odyssey 54 DS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bavaria 50 Cruiser,40,Bavaria 50 Cruiser,21.08',15.2',6.2',fiberglass,monohull,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
463,Dufour 425,1,Dufour 425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,Grand Soleil 37 B&C,1,Grand Soleil 37 B&C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,Grand Soleil 40 B&C,1,Grand Soleil 40 B&C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,Grand Soleil 46 Jezequel,1,Grand Soleil 46 Jezequel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,X-Yachts X4.6,1,X-Yachts X4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df5 = pd.read_csv('data/Mono.csv')
df5

,Make,Variant,Length \n(ft),Geographic Region,Country/Region/State,Listing Price (USD),Year
0,Alubat,Ovni 395,41,Europe,France,"$267,233",2005
1,Bavaria,38 Cruiser,38,Europe,Croatia,"$75,178",2005
2,Bavaria,38 Cruiser,38,Europe,Croatia,"$66,825",2005
3,Bavaria,38 Cruiser,38,Europe,Croatia,"$54,661",2005
4,Bavaria,38 Cruiser,38,Europe,Croatia,"$53,447",2005
...,...,...,...,...,...,...,...
2341,RM Yachts,RM 12.70,40,Europe,France,"$406,868",2019
2342,RM Yachts,RM 1270,42,Europe,France,"$406,923",2019
2343,Southerly,48,48,Europe,United Kingdom,"$1,192,424",2019
2344,X-Yachts,X4,43,Europe,United Kingdom,"$546,613",2019
2345,X-Yachts,X4.6,46,Europe,Portugal,"$570,907",2019

In [113]:
df5['Model'] = df5['Make'] + ' ' + df5['Variant']

In [114]:
dfMerge = pd.merge(df5, df4, on='Model')

In [115]:
dfMerge

,Make,Variant,Length \n(ft),Geographic Region,Country/Region/State,Listing Price (USD),Year,Model,Name,Count,Length,Beam,Draft,Material,Hull,Rigging,Cabins
0,Alubat,Ovni 395,41,Europe,France,"$267,233",2005,Alubat Ovni 395,Alubat Ovni 395,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alubat,Ovni 395,41,Europe,Italy,"$194,351",2007,Alubat Ovni 395,Alubat Ovni 395,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alubat,Ovni 395,41,Europe,France,"$412,941",2017,Alubat Ovni 395,Alubat Ovni 395,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bavaria,38 Cruiser,38,Europe,Croatia,"$75,178",2005,Bavaria 38 Cruiser,Bavaria 38 Cruiser,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bavaria,38 Cruiser,38,Europe,Croatia,"$66,825",2005,Bavaria 38 Cruiser,Bavaria 38 Cruiser,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,RM Yachts,RM 12.70,40,Europe,France,"$406,868",2019,RM Yachts RM 12.70,RM Yachts RM 12.70,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2342,RM Yachts,RM 1270,42,Europe,France,"$406,923",2019,RM Yachts RM 1270,RM Yachts RM 1270,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2343,Southerly,48,48,Europe,United Kingdom,"$1,192,424",2019,Southerly 48,Southerly 48,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2344,X-Yachts,X4,43,Europe,United Kingdom,"$546,613",2019,X-Yachts X4,X-Yachts X4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345,X-Yachts,X4.6,46,Europe,Portugal,"$570,907",2019,X-Yachts X4.6,X-Yachts X4.6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
dfMerge.columns

Index(['Make', 'Variant', 'Length \n(ft)', 'Geographic Region',
       'Country/Region/State', 'Listing Price (USD)', 'Year', 'Model', 'Name',
       'Count', 'Length', 'Beam', 'Draft', 'Material', 'Hull', 'Rigging',
       'Cabins'],
      dtype='object')

In [117]:
dfMerge = dfMerge[['Make', 'Variant', 'Length \n(ft)', 'Geographic Region',
       'Country/Region/State', 'Listing Price (USD)', 'Year',
       'Count', 'Length', 'Beam', 'Draft', 'Material', 'Hull', 'Rigging',
       'Cabins']]

In [118]:
dfMerge.to_csv('data/firstDraftMono.csv', index=False)